body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0px auto;
    background-color: #ffffff;
    justify-content: end;
    overflow: hidden;
    color: rgb(37, 113, 121);
}

.image {
    flex: 1;
    margin-left: 10px;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
}

.content {
    flex: 2;
    padding: 20px;
    justify-content: end;
    color: rgb(37, 113, 121);
}

.content h3 {
    color: #333;
    margin-bottom: 20px;
    color: rgb(37, 113, 121);
}

p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
    color: rgb(37, 113, 121);
}


.class {
    width: 100%;
    align-items: center;
    flex: 1;
    margin-left: 0;
    background-color: #ffffff;
    justify-content: end;
    overflow: hidden;
    color: rgb(37, 113, 121);
}

.class h3{
    margin-left: 10px;
    color: rgb(37, 113, 121);
}

.class p{
    margin-left: 10px;
    color: rgb(37, 113, 121);
}

.class ul li{
    color: rgb(37, 113, 121);
}